<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dynamicplugin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:name="com.example.dynamicplugin.BasePluginApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dynamicplugin.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.dynamicplugin.test.MainService" >
            <intent-filter>
                <action android:name="com.example.dynamicplugin.test.MainService" />
            </intent-filter>
        </service>

        <receiver android:name="com.example.dynamicplugin.test.MainReceivereiver" >
            <intent-filter>
                <action android:name="com.example.dynamicplugin.test.MainReceivereiver" />
            </intent-filter>
        </receiver>
        <provider android:name="com.example.dynamicplugin.test.TestContentProvider"
            android:authorities="com.example.dynamicplugin"
            android:exported="false">
            
        </provider>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>